{% extends 'base.html' %}

{% load static %}

{% block content %}
{% comment %} table section start here {% endcomment %}
{{block.super}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">User Id</th>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Body</th>
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr>
      <th scope="row">{{i.userId}}</th>
      <td>{{i.id}}</td>
      <td>{{i.title}}</td>
      <td>{{i.body}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% comment %} table section end here {% endcomment %}

<h1>This is first app page !</h1>
<img src="{% static 'images/bird2.jpeg' %}" alt="Bird Image 2" />

{% endblock %}
