{% extends "base.html" %}

{% block content %}
<h1 class="home-design">Welcome to My Restaurant</h1>
<div class=" container mt-5 banner-container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="title">Fast Food Restaurant</h1>
            <p class="desc">In the 20th century, with the development of the automobile, country dining became popular in France, and a number of fine provincial restaurants were established. The Restaurant de la Pyramide, in Vienne, regarded by many as the world’s finest restaurant, was founded by Fernand Point and after his death, in 1955, retained its high standing under the direction of his widow, Madame (“Mado”) Point. </p>
        </div>
        <div class="col-md-6">
            <img class="w-100" src="/static/images/burger.jpg" alt="Thumnail Image">
        </div>
    </div>
</div>
{% endblock  %}